.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3FDD2E;
  color: #fff;
  position: fixed; /* Change this to "fixed" */
  top: 0;
  width: 100%; /* Set the width to 100% */
  z-index: 999; /* Add z-index to ensure it's above other content */
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.right span:hover {
  cursor: pointer;
}

.tab-button {
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Montserrat';
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.tab-active {
  border-bottom: 3px solid #FFFF;
  padding: 10px 0px;
  text-decoration: none;
}

.tab-inactive {
  text-decoration: none;
}

.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.left {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 500;
}
.overview-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.data-header {
  text-align: left;
  align-self: flex-start;
  
  font-family: 'Montserrat';
}
.data-header h1 {

  font-weight: 700;
}

.data-header p {

  font-weight: 600;
  margin-top: 2rem;
}

.total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 25px;
}

.tab-wrapper {
  flex-direction: row;
  display: flex;
}

.tab-wrapper p {
  margin-left: 10px;
  font-weight: 700;
}

.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 515px;
  background-color: #f8fbea;
  border: solid;
  border-color: #404040;
  border-width: 1px;
  border-radius: 10px;
   box-shadow: 0px 2px 5px #808080;
}

.stats-container {
    width: 600px;
    box-shadow: 0px 2px 5px #808080;
}

.progress-wrapper {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  
}

.progress-wrapper-header {
  font-family: 'Montserrat';
  margin: 20px;
  font-size: 30px;
}

.progress-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
}

.progress-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  padding: 5px 20px;
  border-bottom: 1px solid #ccc;
}
.progress-cell {
  flex: 1;
  font-family: 'Montserrat';
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-right: 10px;
}

.outer-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap as needed */
}

/* Styling for each item */
.group-div {
  flex-direction: row;
  display: flex;
  width: 100%;
}

.skill-span {
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 10px;
}

.stats-cell {
  flex: 1;
  font-family: 'Montserrat';
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  margin-right: 10px;
  text-align: left;
}


.wrap-to-column {
  display: block; /* Display skills in a column */
  margin-top: 10px; /* Add spacing between skills in a column */
}

.stats-cell:nth-child(3n) {
  flex-direction: column;
}

.header-cell {
   flex: 1;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  margin-right: 10px;
}
.progress-percent {
  font-family: 'Montserrat';
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-left: 30px;
}

.progress-bar-container {
  width: 45%;
  background-color: #e2e2e2;
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #00a0df !important;
  transition: width 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  padding-right: 5px;
  margin-right: 2rem;
}

.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat-header{
  font-weight: 700;
}

.skills-wrapper {
  width: 500;
}

.form-container {
  width: 750;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8fbea;
  border: solid;
  border-color: #404040;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #808080;
  
}

.changephotocontainer{

  width: 750px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8fbea;
  border: solid;
  border-color: #404040;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #808080;
}
.changephotocontainer div {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 95%;
}

.changephotocontainer input {
  width: 100px;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
  background-color: #f8fbea;
  border-left: solid;
  border-color: #404040;
  border-width: 1px;
  border-radius: 10px;
  font-weight: 500;
  font-family: 'Montserrat';
}

.changephotocontainer p{
    padding: 15px 10px;
  font-family: 'Montserrat';
  font-weight: 200;
  color: #505050;
  margin: 0px;
  font-size: 20px;
}

.form-container h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #505050;
  margin-top: 2rem;
  font-size: 20px;
}

.form-container div {
  padding: 10px 10px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Montserrat';
}

.form-container input {
  width: 700px;
  height: 50px;
  border-color: #404040;
  background-color: #F8FBEA;
  padding-left: 10px;
  border-width: .5px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #404040;
}
.drag {
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.changephotocontainer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 10px

}